@font-face {
  font-family: "PTsans";
  src: url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTsansbold";
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
  font-style: normal;
}

 body {
  margin: 0;
  padding: 0;
  font-family: "PTsans", "Arial", sans-serif;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
 }

 h2 {
  font-family: "PTsansbold", "Arial", sans-serif;
  font-size: 21px;
  color: #000000;
 }

a {
  color: #000000;
  text-decoration: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  mix-width: 768px;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
}

.main-nav {
  position: relative;
}

.logo-company {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 6% 19px;
  font-family: "PTsansbold", "Arial", sans-serif;
}

.main-nav ul li {
  width: 20%;
}

.main-nav li:first-child,
.main-nav li:nth-child(2){
  text-align: left;
}

.main-nav li:nth-child(3),
.main-nav li:nth-child(4) {
  text-align: right;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.302);
}

.active-page {
  color: #766357;
}

.intro-sedona {
  min-height: 508px;
  background: url("../img/bottom_intro.png") no-repeat,
              url("../img/background photo.jpg") no-repeat;
  background-position: bottom, center -57px;
}

.intro-sedona img {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
}

.advantage_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantage_intro h2 {
  margin-top: 0;
  padding-top: 65px;
}

.advantage_intro p {
  padding-bottom: 60px;
}

.advantage_item1,
.advantage_item2  {
  display: flex;
  min-height: 256px;
  max-height: 256px;
  overflow: hidden;
}

.advantage_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.333333%;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.advantage_box h2 {
  color: #ffffff;
}

.advantage_item1 .box-img,
.advantage_item2 .box-img {
  margin: 0;
  width: 66.666666%;
}

@media (min-width: 1200px) {
.box-img img {
  position: relative;
  width: 100%;
  top: -80px;
  min-height: 408px;
} }

@media (min-width: 768px) {
.box-img img {
  width: 100%;
  max-height: 256px;
} }

.row {
  display: flex;
}

.accomodation,
.food,
.souvenirs {
  position: relative;
  width: 33.333333%;
  padding-top: 160px;
  text-align: center;
}

.accomodation p,
.food p,
.souvenirs p {
  margin: 0;
  padding-bottom: 70px;
}

.accomodation::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  background: url("../img/svg/icon-1.svg") no-repeat;
  top:66px;
  left: 50%;
  transform: translateX(-50%);
}

.food::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  background: url("../img/svg/icon-3.svg") no-repeat;
  top:66px;
  left: 50%;
  transform: translateX(-50%);
}

.souvenirs::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  background: url("../img/svg/icon-2.svg") no-repeat;
  top:66px;
  left: 50%;
  transform: translateX(-50%);
}

.advantage_item3,
.advantage_item4,
.advantage_item5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.333333%;
  height: 256px;
  background-color: #eeeeee;
  text-align: center;
}

.search-hotel {
  height: 291px;
  text-align: center;
}

.search-hotel h2 {
  margin-top: 0;
  padding-top: 58px;
  font-size: 30px;
}

.btn-search {
  position: relative;
  width: 568px;
  height: 86px;
  margin-top: 33px;
  border: 0;
  border-radius: 0;
  background-color: #766357;
  color: #ffffff;
  font-family: "PTsansbold", "Arial", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #604e43;
}

.btn-search:active {
  color: rgba(0,0,0,0.30);
}

.box-form {
  position: absolute;
  z-index: 2;
  left: 50%;
  width: 568px;
  height: 396px;
  background-color: #ffffff;
  transform: translateX(-50%);
}

.box-form .search-form {
  padding: 55px;
}

.search-form button[type="submit"] {
  width: 458px;
  height: 58px;
  margin-top: 24px;
  border: 0;
  border-radius: 0;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PTsansbold", "Arial", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;

}

.search-form p {
  margin: 0;
  margin-bottom: 30px;
}

.search-form input[name="arrivaldate"],
.search-form input[name="dateofdeparture"] {
  width: 281px;
  padding: 4px 40px 4px 15px;
  color: #000000;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  font-size: 14px;
  line-height: 26px;
  font-family: "PTsans","Arial",sans-serif;
  outline: none;
}

.search-form input[name="arrivaldate"]:hover,
.search-form input[name="dateofdeparture"]:hover {
  background: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-form input[name="arrivaldate"]:focus,
.search-form input[name="dateofdeparture"]:focus {
  background: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form input[name="adults"]:hover,
.search-form input[name="children"]:hover {
  background: #ebebeb;
}

.search-form input[name="adults"]:focus,
.search-form input[name="children"]:focus {
  background: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search-form p,
.box_end {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar {
  position: absolute;
  top: 50%;
  right: 40px;
}

.search-form .calendar::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 22px;
  background: url("..//img/svg/calendar.svg");
  transform: translate(50%, -50%);
  cursor: pointer;
}

.box_end p:first-child .btn-minus {
  margin-left: 46px;
}

.box_end p:last-child .btn-minus {
  margin-left: 27px;
}

.search-form label {
  font-family: "PTsansbold", "Arial", sans-serif;
}

.search-form input[name="adults"],
.search-form input[name="children"],
.btn-plus,
.btn-minus {
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 0;
  outline: 0;
  text-align: center;
  font: inherit;
  color: #a9a9a9;
}

.btn-plus,
.btn-minus {
  font-family: "PTsansbold", "Arial", sans-serif;
  font-size: 25px;
  cursor: pointer;
  color: #a9a9a9;
}

.btn-plus:hover,
.btn-plus:focus,
.btn-minus:hover,
.btn-minus:focus {
  color: #000000;
}

.btn-plus:active,
.btn-minus:active {
  color: #81b3d2;
}


.search-form button[type="submit"]:hover,
.search-form button[type="submit"]:focus {
  background-color: #669ec0;
}

.search-form button[type="submit"]:active {
  color: rgba(0,0,0,.3);
}

.maps {
  position: relative;
}

.maps .main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}

.main-footer {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: rgba(254,254,254,.9);
}

.hashtag,
.social,
.autor {
  width: 33.333333%;
  text-align: center;
}

.hashtag {
  font-family: "PTsansbold", "Arial", sans-serif;
  font-size: 21px;
  color: #000000;
}

.social-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-icon:nth-child(2) {
  margin-left: 6px;
  margin-right: 6px;
}

.twitter::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 15px;
  background: url("../img/svg/twitter.svg") no-repeat;
  transform: translate(-50%, -50%);
}

.facebook::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 22px;
  background: url("../img/svg/fb-icon.svg") no-repeat;
  transform: translate(-50%, -50%);
}

.youtube::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 16px;
  background: url("../img/svg/youtube.svg") no-repeat;
  transform: translate(-50%, -50%);
}

.autor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor a {
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  height: 41px;
  margin-left: 9px;
  background: url("../img/svg/logo-htmlacademy.svg") no-repeat;
}

.filters {
  padding: 26px 6% 30px;
  background: url("../img/filter background.png");
  color: #ffffff;
}

.filters form {
  display: flex;
  height: 156px;
}

div[role='group'] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 186px;
}

div[role='group']:first-child {
  flex-grow: 0.3;
}

div[role='group']:last-child {
  width: 30%;
}

div[role='group']:nth-child(2) {
  flex-grow: 1;
}

div[role='group'] p {
  margin: 0;
  font-family: "PTsansbold", "Arial", sans-serif;
  font-size: 16px;
}

.filter-form input[type="checkbox"] {
  display: none;
}

div[role='group'] label {
  align-self: flex-start;
  cursor: pointer;
}

div[role='group'] input[type="checkbox"]+label:before {
  content: "";
  display: inline-block;
  width: 43px;
  height: 23px;
  background: url("../img/svg/checkbox-off.svg") no-repeat;
  vertical-align: middle;
  opacity: 0.7;
}

div[role='group'] input[type="checkbox"]:checked+label:before {
  background: url("../img/svg/checkbox-on.svg") no-repeat;
  opacity: 1;
}

div[role='group'] input[type="checkbox"]:disabled+label:before {
  opacity: 0.3;
}

.price {
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-in,
.price-out {
  width: 47%;
  text-align: center;
}

.price input[type="text"] {
  width: 40px;
  padding: 0;
  background: transparent;
  border: 0;
  color: #ffffff;
  outline: none;
  font: inherit;
}

.price-line {
  display: inline-block;
  width: 2px;
  height: 22px;
  background: #ffffff;
  vertical-align: middle;
}

.line {
  height: 2px;
  background: rgba(255,255,255,.3);
}

.range {
  position: relative;
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.circle {
  position: absolute;
  width: 20px;
  height: 23px;
  background: url("..//img/svg/filter-button.svg") no-repeat;
  top: -10px;
}

.circle:last-child {
  right: 0;
}

.circle:hover,
.circle:focus {
  transform: scale(1.2);
  cursor: pointer;
}

div[role='group'] button[type="submit"] {
  margin: 0 auto 0 auto;
  padding: 6px 35px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background: transparent;
  text-transform: uppercase;
  font: inherit;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

div[role='group'] button[type="submit"]:hover,
div[role='group'] button[type="submit"]:focus {
  background: #ffffff;
  color: #000000;
}

.sorting {
  padding: 29px 6%;
  border-bottom: 2px solid #e5e5e5;
}

.search-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-results p {
  margin: 0;
  padding: 0;
  font-family: "PTsansbold", "Arial", sans-serif;
  font-size: 21px;
}

.search-results ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 49px;
  width: 354px;
  font-size: 12px;
}

.search-results li a {
  color: rgba(0,0,0,.3);
  border-bottom: 1px dashed #81b3d2;
}

.search-results .sort-active {
  color: #81b3d2;
  border-bottom: 0;
}

.search-results a:hover,
.search-results a:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.search-results a:active {
  color: #000000;
  border-bottom: 0;
}

.sorting-btn {
  position: relative;
  flex-grow: 1;
  height: 15px;
}

.btn-up::before {
  content: "\25b2";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 20px;
  color: #cacaca;
  font: inherit;
}

.btn-down::before {
  content: "\25bc";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  font: inherit;
}

.btn-up:hover::before,
.btn-down:focus::before{
  color: #000000;
}

.btn-up:active::before {
  color: #81b3d2;
}

.active-btn {
  color: #81b3d2;
}
.hotel {
  display: flex;
  justify-content: space-between;
  padding: 29px 6%;
  border-bottom: 2px solid #e5e5e5;
}

.hotel-img {
  margin: 0;
  padding: 0;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotel-info h2,
.hotel-info p {
  margin: 0;
  padding: 0;
}

.hotel-info a {
  margin-top: -6px;
}

.hotel-btn {
  margin-top: 9px;
}
.hotel-btn p {
  display: inline-block;
  vertical-align: middle;
}

.hotel-btn p span {
  display: block;
}

.hotel-btn p:first-child a {
  display: block;
  margin-top: 14px;
  padding: 5px 16px;
  margin-right: 6px;
  background: #81b3d2;
  color: #ffffff;
}

.hotel-btn p:last-child a{
  display: block;
  margin-top: 14px;
  margin-top: 14px;
  padding: 5px 16px;
  background: #766357;
  color: #ffffff;
}

.hotel-btn p:first-child a:hover,
.hotel-btn p:first-child a:focus {
  background: #669ec0;
}

.hotel-btn p:first-child a:active {
  color: rgba(255, 255, 255, 0.302);
}

.hotel-btn p:last-child a:hover,
.hotel-btn p:last-child a:focus {
  background: #604e43;
}

.hotel-btn p:last-child a:active {
  color: rgba(255, 255, 255, 0.302);
}

.hotel-info a h2:hover,
.hotel-info a h2:focus {
  color: #81b3d2;
}

.hotel-info a h2:active {
  color: rgba(0, 0, 0, 0.302);
}

.stars_item {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url("..//img/svg/star.svg") no-repeat;
  vertical-align: middle;
}

.rating-hotel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.rating-hotel p {
  margin: 0;
  padding: 5px 16px;
  font-size: 14px;
  color: #666;
  background: #f2f2f2;
}
