@font-face {
  font-family: "PTsans";
  src: url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: "PTsansbold";
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
  font-style: normal;
}

 body {
  margin: 0;
  padding: 0;
  font-family: "PTsans", "Arial", sans-serif;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
 }

 h2 {
  font-family: "PTsansbold", "Arial", sans-serif;
  font-size: 21px;
 }

a {
  color: #000000;
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  color: #81b3d2;
}

a:active {
  color: #333333;
  opacity: 0.30;
}

.checked {
  color: #766357;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  mix-width: 768px;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
}

.main-nav {
  position: relative;
}

.logo-company {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-left: 6%;
  padding-right: 6%;
  font-family: "PTsansbold", "Arial", sans-serif;
}

.main-nav ul li:nth-child(2) {
  margin-right: 10%;
}
.main-nav ul li:nth-child(3) {
  margin-left: 10%;
}

.intro-sedona {
  min-height: 508px;
  padding-top: 76px;
  background: url("../img/bottom_intro.png") no-repeat,
              url("../img/background photo.jpg") no-repeat;
  background-position: bottom, 100% ;
  background-origin: content-box;
}

.intro-sedona img {
  display: block;
  margin: 0 auto;
}

.advantage_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantage_item h2 {
  margin-top: 0;
  padding-top: 65px;
}

.advantage_item p {
  padding-bottom: 60px;
}

.advantage_item1 {
  display: flex;
  min-height: 256px;
  max-height: 256px;
  overflow: hidden;
}
.advantage_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33.333333%;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}

.advantage_box h2 {
  padding-top: 50px;
}

.advantage_box p {
  padding-bottom: 65px;
}

.advantage_item1 .box-img {
  width: 66.666666%;
}


